extends c

snippet dv "dv-debug"
std::cerr << "dv-debug: " << __FILE__ << " (" << __LINE__ << ") " <<
	${1} << ${2:std::endl};
endsnippet

snippet va "cerr variable"
" - ${1:varName}: '" << $1 << "'" << std::endl${2: <<}
endsnippet
